.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    /* border-bottom: 1px solid #efefef; */
    box-shadow: -1px 2px 5px #fff;
    margin-bottom: 5em;
    /* height: 20vh; */
}

.navbar-container {
    width:83%;
    /* background-color:#109;    */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.navbar-logoSearch {
    /* background-color: #299; */
    /* flex: 0.4; */
}

.navbar-logoSearch__input   {
    background-color: #eef3f8;
    position: relative;
    width: 250px;
    height:35px;
    border-radius: 3px;
    /* overflow: hidden; */
    padding-left: 0.3em;
}

.navbar-logoSearch__input   label   {
    position: absolute;
    top: 5%;
    cursor: pointer;
    margin-top: 0.4em;
}


.navbar-logoSearch__input label .MuiSvgIcon-root {
    font-size: 1.2rem;
}




.navbar-logoSearch__input   input   {
    border-radius: 3px;
    position: absolute;
    top: 0;
    left:10%;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.navbar-logoSearch__input input:focus,
.navbar-logoSearch__input input:active  {
    width: 120%;
    background-color: #eef3f8;
}


.navbar-links {
    /* background-color: #2ac; */
    display: flex;
    align-items: center;
}

.navbar-links__item {
    /* background-color: #028; */
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 0.1em;
    position: relative;
}

.navbar-border::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 120%;
    left: 110%;
    background-color: #ccc;
}

.navbar-links__item-dp{
    width: 1.3rem;
    height: 1.3rem;
    background-color: #02aaa9;
    border-radius: 50%;
}

.navbar-links__item-btn {
    display: flex;
    align-items: center;
    color: #666;
}

.navbar-links__item-btn h5 {
    font-weight: 400;
    font-size: 0.7rem;
    text-transform:capitalize;
}


.navbar-links__item  > h5{
    text-align: center;
    font-weight: 400;
    font-size: 0.7rem;
    text-transform:capitalize;
    color:#eabb54;
}

.navbar-links__item {
    cursor: pointer;
}