.connectCard:hover {
    box-shadow: 1px 3px 5px #ccc;
}

.connectCard {
    transition:all 0.2s ease;
    background-color: transparent;
    border-radius: 8px;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 1em;
    border: 1px solid #ccc;
}

.connectCard-header {
    width: 100%;
}

.connectCard-header__bg {
    height: 50px;
    background-color: #109eef;
    width: 100%;
}

.connectCard-header__dp {
    background-color: #829;
    width:  6.5rem;
    height: 6.5rem;
    background-color: #028;
    border-radius: 50%;
    margin: auto;
    margin-top: -2em;
    cursor: pointer;
}

.connectCard h3:hover {
    text-decoration: underline;
}

.connectCard h3 {
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
    font-size: 1rem;
}

.connectCard h4 {
    font-weight:400;
    font-size: 0.9rem;
    width: 90%;
    margin: 0em auto;
    /* color: #606060; */
    overflow: hidden;
    height: fit-content;
    /* background-color: #28e; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* padding-bottom: 1em; */
}

.connectCard-info {
    /* background-color: #028; */
    display:flex;
    flex-direction: column;
    gap: 0.3em;
}

.connectCard-info > div {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    color: #606060;
    /* width:90%; */
    margin:auto;
    text-align: center;
}


.connectCard-info div:hover p {
    text-decoration: underline;
}

.connectCard-info div {
    cursor: pointer;
    transition: all 0.2s ease;
}

.connectCard-info div >  .MuiSvgIcon-root {
    font-size: 1.1rem;
}


.connectCard-info  p  {
    font-size: 0.7rem;
}


.connectCard button:hover {
    background-color: #dcedff;
}

.connectCard button {
    padding: 0.5em 1.3em;
    color: #0e66c2;
    text-transform: capitalize;
    border-radius: 30px;
    border: 1px solid #0e66c2;
    width: 90%;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
}